<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign</title>
</head>
<body>
    <h1>Creata A Campaign</h1>


    <form method="POST" action="{{ url_for('main.campaign') }}" class="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div>
            <label for="campaign_name">Campaign Name:</label>
            {{ form.campaign_name }}
        </div>

        <div>
            <label for="description">Description:</label>
            {{ form.description }}
        </div>

        <div>
            <label for="total_funds">Total Funds:</label>
            {{ form.total_funds }}
        </div>

        <div>
            <label for="ID_document">ID Document:</label>
            {{ form.ID_document }}
        </div>

       
        <div>
            <label for="campaign_quotation">Campaign Qoutation:</label>
            {{ form.quotation }}
        </div>

        <div>
            {{ form.submit(class='btn') }}
        </div>
    </form>
















</body>
</html>