<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign</title>
</head>
<body>
    <h1>Creata A Campaign</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="campaign_name">Campaign Name:</label>
        <input type="text" id="campaign_name" name="campaign_name" required><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
        <label for="total_funds">Total Funds:</label>
        <input type="number" id="total_funds" name="total_funds" step="0.01" required><br><br>
        <label for="ID_document">Upload ID Document:</label>
        <input type="file" id="ID_document" name="ID_document" accept=".pdf,.doc,.docx,.jpg,.png" required><br><br>
        <label for="ID_document">Upload Doctor's Approval:</label>
        <input type="file" id="Doctor's Approval" name="Doctor's Approval" accept=".pdf,.doc,.docx,.jpg,.png" required><br><br>
        <label for="ID_document">Upload Campeign Qoutation:</label>
        <input type="file" id="Campaign Qoutation" name="Campeign Qoutation" accept=".pdf,.doc,.docx,.jpg,.png" required><br><br>
        <input type="submit" value="Submit Campaign"></form>
</body>
</html>