<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.cdnfonts.com/css/aileron" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <div class="header-content">
                <img src="/static/images/UsizoConnect.png" alt="UsizoConnect Icon" class="logo">
            </div>
        </header>
        <div class="container">
            <div>
                <h1 class="Uni-Font"><strong>UsizoConnect</strong></h1>
            </div>

            <div class="options">
                <p>Are you new here?</p>
                <a href="/register" class="btn"><i class="fas fa-user-plus"></i> Sign Up</a>

                <p>Already have an account?</p>
                <a href="/login" class="btn"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 UsizoConnect. All rights reserved.</p>
        </footer>
    </body>
</html>
