<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>
    <body>
        <div class="container">
            <img src="/static/images/usizoconnect.png" alt="Finance Icon" class="logo">
            <h1 class="fun-font">CareConnect</h1>

            <div class="options">
                <p>Are you new here?</p>
                <a href="/register" class="btn"><i class="fas fa-user-plus"></i> Sign Up</a>

                <p>Already have an account?</p>
                <a href="/login" class="btn"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 CareConnect. All rights reserved.</p>
        </footer>
    </body>
</html>
