<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.cdnfonts.com/css/aileron" rel="stylesheet">
        <title>Welcome</title>
    </head>
    <body>
        <header>
            <div class="header-content">
                <img src="/static/images/UsizoConnect.png" alt="UsizoConnect Icon" class="logo">
            </div>
        </header>
        
        <div class="welcome-container">
            
            <h1 class="Welcome-Uni-Font">Welcome to UsizoConnect</h1>

            <div class="welcome-options">
                
                <a href="/campaign" class="fa-start-campaign"> Start a Campaign</a>

                
                <a href="/donate" class="fa-donate"> Donate</a>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 UsizoConnect. All rights reserved.</p>
        </footer>
    </body>
</html>
