<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Welcome</title>
    </head>
    <body>
        <div class="container">
            <img src="/static/images/finance_icon.png" alt="Finance Icon" class="logo">
            <h1 class="fun-font">Welcome to CareConnect</h1>

            <div class="options">
                <p>Start a Campaign</p>
                <a href="/campaign" class="btn"><i class="fas fa-user-plus"></i> Start a Campaign</a>

                <p>Donate</p>
                <a href="/donate" class="btn"><i class="fas fa-sign-in-alt"></i> Donate</a>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 CareConnect. All rights reserved.</p>
        </footer>
    </body>
</html>
